@font-face {
  font-family: "Inter";
  src: url(material/Inter.ttf);
}

body {
  margin: 0 auto;
  font-family: Inter;
}

h1,
h2 {
  color: #050505;
  font-size: 45px;
}

p {
  color: #666666;
  font-size: 15px;
}

/* HEADER (MENY FÄLT)*/
header {
  display: flex;
  margin: 0 10px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  gap: 10px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

#brand-img {
  height: 20px;
  padding: 10px 0;
}

#linje {
  height: 15px;
  border-right: 1px solid #e5e5e5;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-size: 12px;
}

#container a {
  color: #050505;
  text-decoration: none;
}

#button-left {
  display: flex;
  gap: 20px;
}

#button-right {
  display: flex;
  gap: 5px;
  align-items: center;
}

.button {
  padding: 5px 10px;
}

.button:hover {
  background-color: #e5e5e5;
  border-radius: 5px;
}

.svart-knapp a {
  background-color: #121212;
  color: #f4f4f4;
  text-decoration: none;

  padding: 5px 10px;
  border-radius: 5px;

  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.svart-knapp:hover {
  background-color: #353535;
}

#hamburger {
  display: none;
  width: 20px;
}

/*MAIN*/

main {
  max-width: 1000px;
  margin: 100px auto;
}

#teams-hero {
  display: flex;
}

#teams-hero-text {
  max-width: 510px;
}

#teams-hero-text p {
  font-size: 18px;
}

#teams-hero-pic {
  max-width: 490px;
}

/*COMAPNY LOGGOR - NY DIV I MAIN*/

#company-logos img {
  height: 25px;
}

#company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  margin: 100px 0;
  padding: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/*INFORMATION OM DOG - NY DIV I MAIN*/

.information {
  max-width: 450px;
}

.information-h2 {
  font-size: 36px;
  margin: 0;
}

.information-p {
  font-weight: 320;
  margin: 20px 0 40px;
}

.info-picture {
  max-width: 1000px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.quote {
  color: #999999;
  font-size: 36px;
  font-weight: 550;
  margin: 20px auto;
  text-align: center;
  padding: 0 20px;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 80px;
}

.face img {
  height: 40px;
  margin: 0 10px;
}

.face-upper-p {
  font-size: 14px;
  color: #050505;
  font-weight: 500;
  margin: 0;
}

.face-lower-p {
  font-size: 12px;
  color: #999999;
  margin: 0;
}

#border {
  border-bottom: 1px solid #e5e5e5;
}

/*FREE-PLAN - NY DIV I MAIN*/

#free-plan {
  max-width: 600px;
  margin: 0 auto;

  padding-top: 30px;
}

#start-free {
  text-align: center;
  margin-bottom: 60px;
}

#start-free h2 {
  margin-bottom: 0;
  font-size: 36px;
}

#start-free p {
  font-weight: 320;
  padding: 0px 30px;
  margin-bottom: 20px;
}

#free-start {
  background-color: #f4f4f4;
  padding: 15px 25px;
  border-radius: 5px;
}

.free-start-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid #e5e5e5;
}

#barky-for-teams {
  color: #050505;
}

#fetch {
  border-bottom: none;
}

#free-start img {
  height: 15px;
}

/* TEAM - NY DIV I MAIN*/

#team {
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
}

#built-for-team {
  text-align: center;
  margin: 80px 0px 50px;
}

#built-for-team h2 {
  margin: 0;
  font-size: 36px;
}

#built-for-team p {
  margin: 10px 0 5px;
}

#team-2 {
  display: flex;
  text-align: center;
}

.parts {
  padding: 0 25px;
}

#part-2 {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.parts h2 {
  font-size: 26px;
  margin: 0;
}

.parts p {
  font-weight: 400;
}

.parts a {
  color: #121212;
  font-size: 15px;
}

.parts a:hover {
  color: #087fe7;
}

/*WHY DOGS LOVE US - NY DIV I TEAM*/

#See-why-dogs-love-us {
  text-align: center;
  font-size: 36px;
  font-weight: 650;
  margin: 100px 0 40px;
}

#rated {
  display: flex;
  gap: 80px;
}

#rated h2 {
  font-size: 26px;
}

#rated a {
  color: #050505;
}

#rated p {
  color: #050505;
}

#rated img {
  max-width: 500px;
}

/* PROCENTEN*/

#procent {
  display: flex;
  justify-content: center;

  text-align: center;
}

#procent-border {
  border-left: none;
}

.procent-1 {
  padding: 0px 60px;
  border-left: 1px solid #e5e5e5;
}

.procent-1 h1 {
  color: #666666;
  font-size: 53px;
  margin-bottom: 0;
}

.procent-1 p {
  color: #666666;
  margin-top: 5px;
}

#try-barky-today {
  text-align: center;
}

#try-barky-today h2 {
  font-size: 36px;
  margin: 80px 0 0;
}

#try-barky-today p {
  margin-top: 5px;
  color: #7f7f7f;
}

/*FOOTER - inte en del av MAIN */

footer {
  border-top: 1px solid #e5e5e5;
  margin: auto 10px;
}

#footer {
  margin: 0 auto;
  max-width: 1200px;

  display: flex;

  box-sizing: border-box;
  padding: 60px 200px 60px 60px;
}

#footer1 {
  flex-basis: 250px;
}

#footer #barker {
  height: 25px;
  margin-top: 10px;
  margin-left: 0;
}

#footer img {
  height: 20px;
  padding: 0px 1px;
  margin-top: 20px;
}

#footer1 p {
  font-size: 12px;
  color: #050505;
}

/*NY DIV I FOOTER*/

#footer2 {
  display: flex;
  gap: 100px;
}

#footer2 p {
  font-size: 13px;
  color: #050505;
}

#f1 a,
#f2 a,
#f3 a,
#f4 a {
  display: flex;
  text-decoration: none;
  padding: 7px 0;
  color: #666666;
  font-size: 13px;
}

#f1 a:hover,
#f2 a:hover,
#f3 a:hover,
#f4 a:hover {
  text-decoration: underline;
}

/* NEDANSTÅENDE ÄR ANPASSAT TILL MOBIL*/

@media (max-width: 600px) {
  header {
    max-width: 580px;
    border-bottom: none;
    position: static;
  }

  #button-left {
    display: none;
  }

  #button-right {
    display: none;
  }

  #hamburger {
    display: block;
    margin: 0px 10px 0 auto;
    padding: 3px;
    border-radius: 5px;
  }

  #hamburger:hover {
    background-color: #999999;
  }

  /*MAIN*/
  main {
    max-width: 540px;
  }

  #teams-hero {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .information {
    text-align: center;
    margin: 0 auto;
  }

  .info-picture {
    max-width: 540px;
  }

  .quote {
    font-size: 26px; /*Ändrat storlek då font-size:36px blir för stort i @media*/
    margin-top: 40px;
  }

  #team-2 {
    flex-direction: column;
  }

  #part-2 {
    border-left: none;
    border-right: none;
  }

  .parts {
    margin-top: 50px;
  }

  #rated {
    flex-direction: column;
    margin: 0 25px;
  }

  #procent {
    flex-direction: column;
  }

  .procent-1 {
    border-left: none;
  }

  #footer {
    flex-direction: column;
    padding-left: 20px;
  }

  #footer1 {
    flex-direction: column;
    align-items: start;
  }

  #footer1-p {
    margin-top: 15px;
  }

  #footer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  #footer2 p {
    font-weight: 550;
  }
}
